@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
:root{
    --color-primary: linear-gradient(-20deg,  #000000, #170000);
    --color-light: #FBB5CD;
    --color-dark: #FBB5CD;
    --box-shadow: 0 0 5rem rgba(0, 0, 0, 0.1);
    --btn-box-shadow: 0 1rem 2rem rgba(242, 155, 155, 0.163);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    width:  100vw;
    height: 100vh;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
    background-image: url(./background4.png), var(--color-primary);
}

/* navigation */
a{
    color: var(--color-dark);
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
}

li{
    list-style: none;
}

nav{
    width: 100%;
    z-index: 1;
    position: fixed;
    padding: 2rem 0;
}

nav .container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    gap: 4rem;
}

nav ul li:last-child a{
    border: 1px solid #FBB5CD;
    padding: 0.7rem 2rem;
    border-radius: 2rem;
    transition: all 300ms ease;
}
nav ul li:last-child a:hover{
    box-shadow: var(--btn-box-shadow);
}
.container h1{
    color: #ededed;
    cursor: pointer;
}


.content{
    width: 50vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    opacity: 0;
    animation: animateContent 2s ease forwards;
}

@keyframes animateContent {
    to {
        opacity: 1;

    }
}

.content .container{
    margin-left: 5rem;
    color: var(--color-light);
    width: 36rem;
}
.content .container h1{
    font-size: 3rem;
}
.content .container p{
    margin-top: 2rem;
    line-height: 1.4;
}

.content a{
    border: 1px solid #FBB5CD;
    padding: 1.2rem 3rem;
    font-weight: 500;
    display: inline-block;
    margin-top: 1.8rem;
    border-radius: 2rem;
}
.content a:hover{
    box-shadow: var(--btn-box-shadow);
}


@keyframes animateTray {
    to{
        opacity: 1;
    }
}

.plate{
    position: absolute;
    top: 15%;
    right: 5%;
    width: 38rem;
    height: 38rem;
    animation: animatePlate 30s linear forwards infinite;
}

@keyframes animatePlate {
    to{
        transform: rotate(360deg);
    }
}
.plate .food{
    width: 26rem;
    height: 26rem;
    position: absolute;
    top: 53%;
    left: 47%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: 50%;
}
img{
    width: 100%;
}